<form (ngSubmit) = "OnSubmit()" #actionForm = "ngForm" class = "form-container">
    <div class = "form-row">
        <label for = "AccName"> Account Name : </label>
        <input type = "text" id = "AccName" name = "AccName" [(ngModel)] = "Accnt.AccName" autocomplete="off" list = "accountList">
        <datalist id = "accountList">
            <option *ngFor = "let acc of accountList">{{acc}}</option>
        </datalist>
        <br><br>
    </div>

    <div class = "form-row">
        <input type="submit" value="Delete">
    </div>
</form>

<div *ngIf = "messageType == 'success'" class = "notification success" [@slideInOut] >
    {{message}}
</div>